.models_container {
  width: 1141px;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.model_container {
  width: 269px;
  height: 215px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.model_title {
  margin: 8px 0;
  font-size: 28px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.6px;
  color: #000;
}
.model_box_info {
  width: 268px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_info {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.28px;
  color: #191919;
}

.model_btn {
  width: 152px;
  height: 34px;
  background: #191919;
  color: #fff;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.07px;
  visibility: hidden;
}

.model_container:hover > .model_title {
  color: #eb0a1e;
}
.model_container:hover > .model_btn {
  visibility: visible;
}
