.nav_container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_logo {
  margin-right: 77px;
}

.selected_link {
  height: 100%;
  color: #191919;
  font-weight: 600;
  line-height: 17px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.nav_links_none {
  display: none;
}

.nav_links {
  cursor: pointer;
  user-select: none;
  width: 126px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_selected {
  border-bottom: 3px solid #d0021b;
  color: #d0021b;
}

.logo_img {
  width: 38px;
  height: 40px;
  cursor: pointer;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 12px;
  user-select: none;
  cursor: pointer;
}

.span_nav {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #191919;
}

@media screen and (max-width: 768px) {
  .selected_link {
    display: none;
  }
  .span_nav {
    display: none;
  }
}
