.model_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.model_box {
  width: 1141px;
  margin-top: 85px;
  display: flex;
  justify-content: center;
  gap: 64px;
  color: #373737;
}

.model_name {
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
}

.model_title {
  width: 475px;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -1px;
  margin: 8px 0 37px 0;
}

.model_description {
  line-height: 27px;
  letter-spacing: -0.1px;
}
