html,
body {
  padding: 0;
  font-family: 'montserrat', sans-serif;
  max-width: 1920px;
  box-sizing: border-box;
  margin: 0 auto;
  background: #fff;
}

a {
  color: inherit;
  color: #191919;
  text-decoration: none;
}
