.main_home {
  max-width: 1920px;
  width: 100%;
  height: 100%;
}

.header_container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.main_title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title_h1 {
  width: 1141px;
  margin: 85px 0 0 0;
  color: #373737;
  font-size: 50px;
  line-height: 57px;
  font-weight: 700;
  letter-spacing: -1px;
}
.main_container {
  width: 100%;
  min-height: 702px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  margin-top: 107px;
  height: 50px;
  background: #000;
}

@media screen and (max-width: 768px) {
  .title_h1 {
    font-size: 30px;
    line-height: 37px;
  }
  .main_section {
    margin: 0 15px;
  }
  .title_h1 {
    font-size: 35px;
    line-height: 126%;
  }
  .footer {
    margin-top: 72px;
    height: 50px;
    background: #000;
  }
}
